.carraTable {
    border: 1px solid #BBBBBB;
    padding: 0px;
    border-top: thin solid #444444;
    border-left: thin solid #444444;
    border-right: thin solid #111111;
    border-bottom: thin solid #111111;
    background-color: #505050;
}

.carraTable td {
    padding: 5px;
    text-align: center;

}

.oddRow {
    background-color: #f1f3f9;
    padding: 100px;
}

.oddRow button {
    height: 20px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 11px;
    vertical-align: middle;

}

.evenRow {
    background-color: white;
    padding: 100px;
}

.evenRow button {
    height: 20px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 11px;
    vertical-align: middle;

}

.titleRow {

    background-color: gray;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
    margin: 1;
    padding: 1;
    text-align: center;
}

.columnLabel {
    color: white;
    padding: 3px;
}

.columnLabelCell {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
    margin: 1;
    padding: 1;
    text-align: center;
}

.cell {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: white;
    padding: 5px;
}