<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <context:component-scan base-package="net.shrine"/>

    <!--define default properties and JNDI name that will override them-->
    <bean id="graphiteHost" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/graphiteHost"/>
        <property name="defaultObject" value="carra-core"/>
    </bean>
    <bean id="pmEndpoint" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/pmEndpoint"/>
        <property name="defaultObject" value="http://webservices.i2b2.org/i2b2/rest/PMService/getServices"/>
    </bean>

    <bean id="realCRCEndpoint" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/realCRCEndpoint"/>
        <property name="defaultObject" value="http://localhost:9090/i2b2/rest/QueryToolService/"/>
    </bean>

    <bean id="aggregatorEndpoint" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/aggregatorEndpoint"/>
        <property name="defaultObject" value="https://localhost:8081/shrine-cell/soap/QueryToolService/aggregate?wsdl"/>
    </bean>

    <bean id="shrineEndpoint" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/shrineEndpoint"/>
        <property name="defaultObject" value="https://localhost:8081/shrine-cell/soap/QueryToolService/"/>
    </bean>

    <bean id="humanReadableNodeName" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/humanReadableNodeName"/>
        <property name="defaultObject" value="Anonymous Adapter"/>
    </bean>

    <bean id="i2b2HiveDomain" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/i2b2HiveDomain"/>
        <property name="defaultObject" value="i2b2demo"/>
    </bean>

    <bean id="i2b2HiveUsername" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/i2b2HiveUsername"/>
        <property name="defaultObject" value="demo"/>
    </bean>

    <bean id="i2b2HivePassword" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/i2b2HivePassword"/>
        <property name="defaultObject" value="demouser"/>
    </bean>

    <bean id="passwordType" class="edu.harvard.i2b2.crc.datavo.i2b2message.PasswordType">
        <property name="value" ref="i2b2HivePassword"/>
    </bean>

    <bean id="setSizeObfuscation" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/shrine/setSizeObfuscation"/>
        <property name="defaultObject" value="false"/>
    </bean>

    <bean id="i2b2HiveCredentials" class="net.shrine.config.I2B2HiveCredentials">
        <property name="domain" ref="i2b2HiveDomain"/>
        <property name="username" ref="i2b2HiveUsername"/>
        <property name="password" ref="passwordType"/>
        <property name="project" value="Demo"/>
    </bean>

    <bean id="identityService" class="net.shrine.identity.CarraIdentityService"/>

    <bean id="pmHttpClient" class="net.shrine.serializers.pm.PMHttpClient">
        <constructor-arg index="0" ref="pmEndpoint"/>
    </bean>

    <bean id="shrineConfig" class="net.shrine.config.ShrineConfig">
        <property name="adapter" value="true"/>
        <property name="adapterLockoutAttemptsThreshold" value="0"/>
        <property name="adapterRequireExplicitMappings" value="false"/>
        <property name="broadcasterAggregator" value="false"/>
        <property name="cacheTTL" value="3600000"/>
        <property name="certificationTTL" value="3600000"/>
        <property name="queryTTL" value="3600000"/>
        <property name="databasePropertiesFile" value="jdbc-derby.properties"/>
        <property name="humanReadableNodeName" ref="humanReadableNodeName"/>
        <property name="pmEndpoint" ref="pmEndpoint"/>
        <property name="realCRCEndpoint" ref="realCRCEndpoint"/>
        <property name="aggregatorEndpoint" ref="aggregatorEndpoint"/>
        <property name="shrineEndpoint" ref="shrineEndpoint"/>
        <property name="ontEndpoint" value=""/>
        <property name="sheriffEndpoint" value=""/>
        <property name="queryActionMapClassName" value="net.shrine.adapter.query.ShrineQueryActionMap"/>
        <property name="setSizeObfuscationEnabled" ref="setSizeObfuscation"/>
    </bean>

    <bean id="authservice" class="net.shrine.authorization.AllowsAllAuthorizationService"/>


    <bean id="agentConfig" factory-bean="shrineConfig" factory-method="generateAgentConfig"/>

    <bean id="nodeConfig" factory-bean="shrineConfig" factory-method="generateNodeConfig"/>

    <bean id="spinClient" class="org.spin.query.message.agent.Agent">
        <constructor-arg index="0" ref="agentConfig"/>
    </bean>

    <bean id="spinNode" class="org.spin.node.SpinNodeImpl">
        <constructor-arg ref="shrineQueryActionMap"/>
        <constructor-arg ref="nodeConfig"/>
    </bean>

    <!--note that the implementer value references an already defined bean.  the bean is loaded via annotation config-->
    <!--<jaxws:endpoint-->
    <!--id="broadcasterAggregatorSOAPEndpoint"-->
    <!--implementor="#broadcasterAggregatorSOAP"-->
    <!--address="/">-->
    <!--<jaxws:properties>-->
    <!--<entry key="jaxb.additionalContextClasses">-->
    <!--<bean class="net.shrine.broadcaster.JAXBContextResolver"/>-->
    <!--</entry>-->
    <!--</jaxws:properties>-->
    <!--</jaxws:endpoint>-->

    <jaxws:endpoint id="spinNodeEndpoint" implementor="#spinNode" address="/aggregate"></jaxws:endpoint>

    <aop:aspectj-autoproxy/>
    <bean id="aopAdvice" class="edu.carranet.query.InstrumentAdapter">
        <constructor-arg index="0" ref="graphiteHost"/>
    </bean>


    <!-- DAO management-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/shrineDB"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>net.shrine.adapter.dao.hibernate.entity.InstanceIdsEntity</value>
                <value>net.shrine.adapter.dao.hibernate.entity.MasterQueryEntity</value>
                <value>net.shrine.adapter.dao.hibernate.entity.PrivilegedUserEntity</value>
                <value>net.shrine.adapter.dao.hibernate.entity.RequestResponseDataEntity</value>
                <value>net.shrine.adapter.dao.hibernate.entity.ResultIdsEntity</value>
                <value>net.shrine.adapter.dao.hibernate.entity.UsersToMasterQueryEntity</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>

    <bean id="shrineQueryActionMap" class="net.shrine.adapter.query.ShrineQueryActionMap">
        <constructor-arg>
            <map>
                <entry key="QueryDefinitionRequestType" value-ref="runQueryInstanceFromQueryDefinition"/>
                <entry key="GetRequestXml" value-ref="getRequestXmlQuery"/>
                <entry key="UserRequestType" value-ref="mastersByUserQuery"/>
                <entry key="MasterRequestType" value-ref="mastersByIDQuery"/>
                <entry key="InstanceRequestType" value-ref="instancesByIDQuery"/>
                <entry key="MasterDeleteRequestType" value-ref="masterDeleteQuery"/>
                <entry key="MasterRenameRequestType" value-ref="masterRenameQuery"/>
                <entry key="GetPDOFromInputListRequestType" value-ref="runPdoQuery"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="runQueryInstanceFromQueryDefinition" class="net.shrine.adapter.RunQueryAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
        <constructor-arg index="3" ref="simpleConceptTranslator"/>
        <constructor-arg index="4" ref="shrineConfig"/>
        <constructor-arg index="5" value="false"/>
    </bean>

    <bean id="instancesByIDQuery" class="net.shrine.adapter.ReadInstanceResultsAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
        <constructor-arg index="3" value="false"/>
    </bean>

    <bean id="mastersByUserQuery" class="net.shrine.adapter.ReadPreviousQueriesAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
    </bean>

    <bean id="mastersByIDQuery" class="net.shrine.adapter.ReadQueryInstancesAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
    </bean>

    <bean id="masterDeleteQuery" class="net.shrine.adapter.DeleteQueryAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
    </bean>

    <bean id="masterRenameQuery" class="net.shrine.adapter.RenameQueryAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
    </bean>

    <bean id="getRequestXmlQuery" class="net.shrine.adapter.ReadQueryDefinitionAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
    </bean>

    <bean id="runPdoQuery" class="net.shrine.adapter.ReadPdoAdapter">
        <constructor-arg index="0" value="#{ realCRCEndpoint.concat('pdorequest')}"/>
        <constructor-arg index="1" ref="hibernateAdapterDAO"/>
        <constructor-arg index="2" ref="i2b2HiveCredentials"/>
    </bean>


    <bean id="simpleConceptTranslator" class="net.shrine.adapter.translators.SimpleConceptTranslator"/>

</beans>


