<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <context:component-scan base-package="net.shrine"/>


    <bean id="httpClient" class="net.shrine.util.JerseyHttpClient">
        <constructor-arg ref="shouldTrustAllSslCerts"/>
    </bean>


    <jee:jndi-lookup id="pmEndpoint" jndi-name="java:comp/env/shrine/pmEndpoint"
                     default-value="http://localhost:9090/i2b2/rest/PMService/getServices"/>
    <jee:jndi-lookup id="realCRCEndpoint" jndi-name="java:comp/env/shrine/realCRCEndpoint"
                     default-value="http://localhost:9090/i2b2/rest/QueryToolService/"/>
    <jee:jndi-lookup id="shrineEndpoint" jndi-name="java:comp/env/shrine/shrineEndpoint"
                     default-value="http://localhost:8080/shrine/soap/aggregate?wsdl"/>
    <jee:jndi-lookup id="shrineEndpointType" jndi-name="java:comp/env/shrine/shrineEndpointType"
                     default-value="SOAP"/>
    <jee:jndi-lookup id="aggregatorEndpoint" jndi-name="java:comp/env/shrine/aggregatorEndpoint"
                     default-value="http://localhost:8443/shrine/soap/aggregate?wsdl"/>
    <jee:jndi-lookup id="aggregatorEndpointType" jndi-name="java:comp/env/shrine/aggregatorEndpointType"
                     default-value="SOAP"/>
    <jee:jndi-lookup id="sheriffEndpoint" jndi-name="java:comp/env/shrine/sheriffEndpoint"
                     default-value="http://localhost:8080/shrine-hms-authorization/queryAuthorization"/>
    <jee:jndi-lookup id="sheriffUsername" jndi-name="java:comp/env/shrine/sheriffUsername" default-value="service"/>
    <jee:jndi-lookup id="sheriffPassword" jndi-name="java:comp/env/shrine/sheriffPassword" default-value="service"/>
    <jee:jndi-lookup id="broadcasterPeerGroupToQuery" jndi-name="java:comp/env/shrine/broadcasterPeerGroupToQuery"
                     default-value="LOCAL"/>
    <jee:jndi-lookup id="humanReadableNodeName" jndi-name="java:comp/env/shrine/humanReadableNodeName"
                     default-value="SHRINE Cell"/>
    <jee:jndi-lookup id="i2b2HiveDomain" jndi-name="java:comp/env/shrine/i2b2HiveDomain" default-value="i2b2demo"/>
    <jee:jndi-lookup id="i2b2HiveUsername" jndi-name="java:comp/env/shrine/i2b2HiveUsername" default-value="demo"/>
    <jee:jndi-lookup id="i2b2HiveProject" jndi-name="java:comp/env/shrine/i2b2HiveProject" default-value="Demo"/>
    <jee:jndi-lookup id="i2b2HivePassword" jndi-name="java:comp/env/shrine/i2b2HivePassword" default-value="demouser"/>
    <jee:jndi-lookup id="setSizeObfuscation" jndi-name="java:comp/env/shrine/setSizeObfuscation" default-value="false"/>
    <jee:jndi-lookup id="isAdapter" jndi-name="java:comp/env/shrine/isAdapter" default-value="true"/>
    <jee:jndi-lookup id="isBroadcaster" jndi-name="java:comp/env/shrine/isBroadcaster" default-value="false"/>
    <jee:jndi-lookup id="isIncludeAggregateResults" jndi-name="java:comp/env/shrine/isIncludeAggregateResults"
                     default-value="true"/>
    <jee:jndi-lookup id="adapterLockoutAttemptsThreshold"
                     jndi-name="java:comp/env/shrine/adapterLockoutAttemptsThreshold" default-value="0"/>
    <jee:jndi-lookup id="queryTTL" jndi-name="java:comp/env/shrine/queryTTL" default-value="270000"/>
    <jee:jndi-lookup id="adapterStatusQuery" jndi-name="java:comp/env/shrine/adapterStatusQuery"
                     default-value="\\SHRINE\SHRINE\Diagnoses\Mental Illness\Disorders usually diagnosed in infancy, childhood, or adolescence\Pervasive developmental disorders\Infantile autism, current or active state\"/>
    <jee:jndi-lookup id="adapterMappingsFileName" jndi-name="java:comp/env/shrine/adapterMappingsFileName"
                     default-value="AdapterMappings.xml"/>
    <jee:jndi-lookup id="shouldTrustAllSslCerts" jndi-name="java:comp/env/shrine/shouldTrustAllSslCerts"
                     default-value="false"/>
    <jee:jndi-lookup id="shrineDatabaseType" jndi-name="java:comp/env/shrine/shrineDatabaseType" default-value="h2"/>


    <bean id="adapterDao" class="net.shrine.adapter.dao.squeryl.SquerylAdapterDao">
        <constructor-arg ref="squerylInitializer"/>
        <constructor-arg ref="squerylAdapterTables"/>
    </bean>


    <bean id="identityService" class="edu.chip.carranet.auth.I2b2SSRIdentityService"/>

    <!-- 5 seconds, Spin's default -->
   	<bean id="broadcasterTimeoutPeriod" class="org.spin.tools.Interval" factory-method="seconds">
   		<constructor-arg value="5"/>
   	</bean>


    <bean id="nodeConfig" class="org.spin.tools.config.NodeConfig">
        <constructor-arg index="0" ref="humanReadableNodeName"/>
        <constructor-arg index="1" value="false"/>
        <constructor-arg index="2" ref="isBroadcaster"/>
        <constructor-arg index="3" ref="isBroadcaster"/>
        <constructor-arg index="4" ref="isAdapter"/>
        <constructor-arg index="5">
            <null/>
        </constructor-arg>
        <constructor-arg index="6" value="3600000"/>
        <constructor-arg index="7" value="3600000"/>
        <constructor-arg index="8" ref="broadcasterTimeoutPeriod"/>
        <constructor-arg index="9" value="net.shrine.adapter.query.ShrineQueryActionMap"/>
        <constructor-arg index="10">
            <null/>
        </constructor-arg>
    </bean>

    <bean id="authservice" class="net.shrine.authorization.AllowsAllAuthorizationService"/>




    <bean id="spinNode" class="org.spin.node.SpinNodeImpl">
        <constructor-arg ref="shrineQueryActionMap"/>
        <constructor-arg ref="nodeConfig"/>
    </bean>


    <jaxws:endpoint id="spinNodeEndpoint" implementor="#spinNode" address="/aggregate">
    </jaxws:endpoint>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>file:/home/carra/jdbc.properties</value>
        </property>
    </bean>

    <bean id="dataSource" destroy-method="close"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="squerylAdapter" class="org.squeryl.adapters.OracleAdapter"/>

    <bean id="squerylInitializer" class="net.shrine.dao.squeryl.DataSourceSquerylInitializer">
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="squerylAdapter"/>
    </bean>

    <!--<bean id="squerylAuditTables" class="net.shrine.broadcaster.dao.squeryl.tables.Tables"/>-->

    <!--<bean id="auditDao" class="net.shrine.broadcaster.dao.squeryl.SquerylAuditDao">-->
        <!--<constructor-arg ref="squerylInitializer"/>-->
        <!--<constructor-arg ref="squerylAuditTables"/>-->
    <!--</bean>-->

    <bean id="squerylAdapterTables" class="net.shrine.adapter.dao.squeryl.tables.Tables"/>


    <bean id="i2b2AdminDao" class="net.shrine.adapter.dao.squeryl.SquerylI2b2AdminPreviousQueriesDao">
        <constructor-arg ref="squerylInitializer"/>
        <constructor-arg ref="squerylAdapterTables"/>
    </bean>

    <bean id="adapterMappingsSource" class="net.shrine.config.ClasspathAdapterMappingsSource">
        <constructor-arg ref="adapterMappingsFileName"/>
    </bean>

    <bean id="adapterMappings" factory-bean="adapterMappingsSource" factory-method="load"/>

    <bean id="expressionTranslator" class="net.shrine.adapter.translators.ExpressionTranslator" factory-method="apply">
        <constructor-arg ref="adapterMappings"/>
    </bean>

    <bean id="queryDefinitionTranslator" class="net.shrine.adapter.translators.QueryDefinitionTranslator">
        <constructor-arg ref="expressionTranslator"/>
    </bean>

    <bean id="i2b2AdminService" class="net.shrine.adapter.service.I2b2AdminService">
        <constructor-arg index="0" ref="adapterDao"/>
        <constructor-arg index="1" ref="i2b2AdminDao"/>
        <constructor-arg index="2" ref="httpClient"/>
        <constructor-arg index="3" ref="pmEndpoint"/>
    </bean>

    <bean id="runPdoQuery" class="net.shrine.adapter.ReadPdoAdapter">
        <constructor-arg index="0" value="#{ realCRCEndpoint.concat('pdorequest')}"/>
        <constructor-arg index="1" ref="httpClient"/>
        <constructor-arg index="2" ref="hiveCredentials"/>
    </bean>

    <bean id="shrineQueryActionMap" class="net.shrine.adapter.query.ShrineQueryActionMap">
        <constructor-arg>
            <map>
                <entry key="QueryDefinitionRequestType" value-ref="runQueryInstanceFromQueryDefinition"/>
                <entry key="GetRequestXml" value-ref="getRequestXmlQuery"/>
                <entry key="UserRequestType" value-ref="mastersByUserQuery"/>
                <entry key="InstanceRequestType" value-ref="instancesByIDQuery"/>
                <entry key="MasterDeleteRequestType" value-ref="masterDeleteQuery"/>
                <entry key="MasterRenameRequestType" value-ref="masterRenameQuery"/>
                <entry key="GetQueryResult" value-ref="readQueryResultAdapter"/>
                <entry key="GetPDOFromInputListRequestType" value-ref="runPdoQuery"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="hiveCredentials" class="net.shrine.config.HiveCredentials">
        <constructor-arg ref="i2b2HiveDomain"/>
        <constructor-arg ref="i2b2HiveUsername"/>
        <constructor-arg ref="i2b2HivePassword"/>
        <constructor-arg ref="i2b2HiveProject"/>
    </bean>

    <bean id="runQueryInstanceFromQueryDefinition" class="net.shrine.adapter.RunQueryAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="httpClient"/>
        <constructor-arg index="2" ref="adapterDao"/>
        <constructor-arg index="3" ref="hiveCredentials"/>
        <constructor-arg index="4" ref="queryDefinitionTranslator"/>
        <constructor-arg index="5" ref="adapterLockoutAttemptsThreshold"/>
        <constructor-arg index="6" value="true"/>
    </bean>

    <bean id="instancesByIDQuery" class="net.shrine.adapter.ReadInstanceResultsAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="httpClient"/>
        <constructor-arg index="2" ref="hiveCredentials"/>
        <constructor-arg index="3" ref="adapterDao"/>
        <constructor-arg index="4" value="true"/>
    </bean>

    <bean id="readQueryResultAdapter" class="net.shrine.adapter.ReadQueryResultAdapter">
        <constructor-arg index="0" ref="realCRCEndpoint"/>
        <constructor-arg index="1" ref="httpClient"/>
        <constructor-arg index="2" ref="hiveCredentials"/>
        <constructor-arg index="3" ref="adapterDao"/>
        <constructor-arg index="4" value="true"/>
    </bean>

    <bean id="mastersByUserQuery" class="net.shrine.adapter.ReadPreviousQueriesAdapter">
        <constructor-arg index="0" ref="adapterDao"/>
    </bean>

    <bean id="masterDeleteQuery" class="net.shrine.adapter.DeleteQueryAdapter">
        <constructor-arg index="0" ref="adapterDao"/>
    </bean>

    <bean id="masterRenameQuery" class="net.shrine.adapter.RenameQueryAdapter">
        <constructor-arg index="0" ref="adapterDao"/>
    </bean>

    <bean id="getRequestXmlQuery" class="net.shrine.adapter.ReadQueryDefinitionAdapter">
        <constructor-arg index="0" ref="adapterDao"/>
    </bean>

</beans>


