<?xml version="1.0" encoding="UTF-8"?>
<!--suppress JdkProxiedBeanTypeInspection, InjectionValueTypeInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">




    <bean id="userStore" class="edu.chip.carranet.auth.backend.HibernateUserStore"/>
    <bean id="authenticator" class="edu.chip.carranet.auth.backend.LDAPAuthenticator">
        <constructor-arg index="0" type="java.lang.String">
            <value>ldap.chboston.org</value>
        </constructor-arg>
        <constructor-arg index="1" type="int">
            <value>389</value>
        </constructor-arg>
        <constructor-arg index="2" type="java.lang.String">
            <value>CN=NotReallyALogin,OU=Special Accounts,DC=CHBDir,DC=Org</value>
        </constructor-arg>
        <constructor-arg index="3" type="java.lang.String">
            <value>blah</value>
        </constructor-arg>
        <constructor-arg index="4" type="java.lang.String">
            <value>ou=users,dc=chbdir,dc=org</value>
        </constructor-arg>
        <constructor-arg index="5" type="java.lang.String">
            <value>cn</value>
        </constructor-arg>

        <property name="adminDNs">
            <list>
                <value>cn=ch8655309,ou=users,dc=chbdir,dc=org</value>

            </list>
        </property>
    </bean>



    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="edu.chip.carranet.data.entity"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="org.hsqldb.jdbcDriver"/>
        <property name="jdbcUrl" value="jdbc:hsqldb:mem:mymemdb"/>
        <property name="user" value="sa"/>
        <property name="password" value=""/>
        <property name="autoCommitOnClose" value="true"/>
        <property name="checkoutTimeout" value="1800"/>
        <property name="initialPoolSize" value="10"/>
        <property name="minPoolSize" value="10"/>
        <property name="maxPoolSize" value="25"/>
        <property name="maxIdleTime" value="300"/>

    </bean>
</beans>